/* HERO SECTION */

.hero {

  min-height: 70vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  background: #efe6db;

  padding: 60px 20px;

}


/* TITLE */

.hero h1{
  font-size: 42px;
  margin-bottom: 10px;
}


/* SUBTEXT */

.hero p{
  font-size: 18px;
  color: #555;
}


/* SEARCH CONTAINER */

.searchContainer {

  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;
  flex-wrap: wrap;

}


/* SEARCH INPUT */

.searchContainer input {

  width: 550px;
  max-width: 90%;

  padding: 16px 20px;

  font-size: 16px;

  border-radius: 14px;
  border: 1px solid #ddd;

  transition: 0.3s ease;

}


/* INPUT ANIMATION */

.searchContainer input:focus {

  outline: none;

  border: 2px solid #ff7a00;

  box-shadow:
  0px 5px 20px rgba(255,122,0,0.25);

  transform: scale(1.02);

}


/* BUTTON */

.searchContainer button {

  background: #ff7a00;
  color: white;

  border: none;

  padding: 14px 28px;

  border-radius: 14px;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;
}


/* BUTTON HOVER */

.searchContainer button:hover{

  transform: translateY(-2px);

  box-shadow:
  0 6px 15px rgba(0,0,0,0.15);

}