:root {
  --primary: #ff7a00;
  --secondary: #fff7ed;
  --text-dark: #1f2937;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--secondary);
  color: var(--text-dark);
}

/* Navbar */
.navbar {
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* Button */
.btn {
  background: var(--primary);
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

/* Product Grid */

.grid {
  display: grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  padding: 40px;
}

/* Card */

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}